# Environment variables (NEVER commit)
.env

# Maven
target/

# IDE - IntelliJ
.idea/
*.iml
*.iws
*.ipr

# IDE - VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

data.txt
error.txt

#Test
payroll-core/target/

doc/
        
